 /*http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Header components***************************************/
.header-box{
	background: #fff;
	width: 400px;
	height: 240px;
	text-align: left;
	padding: 1.7rem;
	margin-left: 30px;
}

.search-btn {
  text-decoration: none;
  color: #a4a4a4;
  float: right;
  width: 2rem;
  height: 1.5rem;
  padding-top: 5px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  justify-content: center; }

.input-search input {
  font-size: .9rem;
  text-align: center;
}
.input-search a:hover {
  text-decoration: none; }

.search-txt {
  border: none;
  background: #fff;
  outline: none;
  float: left;
  width: 75%;
  padding: 0px;
  color: #000;
  font-size: .8rem;
  transition: 0.4s ease-out; }

 .header-input-box{

 	border: 1px solid #000;
 	width: 100%;
 	height: 3rem;
 	background: #fff;
 	padding: 1rem;
 }

 .search-btn i{
 	font-size: .8rem;
 	color: #000;
 }

.header-img-box{
	height: 55vh;
	background: no-repeat center/100% url('https://img-c.udemycdn.com/notices/web_banner/image_udlite/dc2bc81a-a342-474d-9d09-0ba3c2bfa687.jpg');
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#header-img-box{
	margin-top: 0;
	padding: 0;
}

#alert{
  text-align: center;
	margin: 0;
  background: #5624d0;
  color: #fff;
}

.header-img-box-2{
  overflow-x: hidden;
}


/*Header components End************************************/

/*Navbar components****************************************/

nav{
	height: 4rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
  font-size: .8rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

nav a{
  text-decoration: none;
   color: #000;
   font-weight: lighter;
}

.fa-search{
  font-size: 2rem;
}

#nav{
	margin: 0;
}
.input-search {
  margin-left: 0.5rem;
  background: #fafafa;
  width: 30rem;
  height: 42px;
  border: 1px solid #000;
  font-size: .9rem;
  border-radius: 40px;
  padding: 10px; }

  .search-btn-2 {
  text-decoration: none;
  color: #a4a4a4;
  float: left;
  width: 2rem;
  height: 1.5rem;
  padding-top: 5px;
  margin-right: 1rem;
  border-radius: 50%;
  background: #fff;
  display: flex;
  justify-content: center; }

.input-search input {
  font-size: .9rem;
  text-align: left;
}
.input-search a:hover {
  text-decoration: none; }

.search-txt-2 {
  border: none;
  background: #fff;
  outline: none;
  float: left;
  width: 75%;
  padding: 0px;
  color: #000;
  font-size: .8rem;
  transition: 0.4s ease-out; }

 .header-input-box-2{

 	border: 1px solid #000;
 	width: 50rem;
 	height: 3rem;
 	background: #fff;
 	padding: .8rem;
 }

 .search-btn-2 i{
 	font-size: 1rem;
 	color: #000;
 }

 .header-btn{
 	width: 15rem;
 	display: flex;
 	align-items: center;
 	justify-content: space-evenly;
 }

 .logIn, .signUp{
  border: 1px solid #000;
  padding: .5rem;
  width: 65px;
  text-align: center;
 }

 .signUp{
  background: #212529;
  color: #fff;
  font-weight: 500;
  margin-left: 5px;
 }

.logIn{
  color: #000;
  font-weight: 500;
}
 .logIn:hover{
  background: #e4e4e4;
  color: #000;
  font-weight: 500;
 }

.signUp:hover{
  background: #000;
  color: #fff;
  font-weight: 500;
 }

 .globe{
  width: 35px;
  border: 1px solid #000;
  padding: .5rem;
  text-align: center;
  margin-left: 5px;

 }

 .globe:hover{
  background: #e4e4e4;
  color: #000;
  font-weight: 500;
 }

 .fa-globe, .fa-shopping-cart{
  font-size: 1.1rem;
 }

 .header-sm-links{
  width: 3.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 1rem;
 }

 .header-sm-links i{
  font-size: 1.1rem;
 }
 .header-menu{
  margin-left: 1rem;
 }
 .header-menu img{
  width: 1.8rem;
 }

 .header-box-2{
  background: #fff;
  width: 100%;
  height: 240px;
  text-align: left;
  padding: 1.7rem;
}

/*Navbar components End************************************/

/*Top Categories******************************************/
.top-container{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.top-links{
  border: 1px solid #000;
  padding: .6rem;
  border-radius: 3rem;
  margin-left: .5rem;
  margin-bottom: .5rem;

}
.top-links a{
  color: #000;
  font-weight: 700;
  text-decoration: none;
}

.card-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;

}

.card-case a img{
  width: 18rem;
  transition: 0.3s;
}

.card-case a img:hover{
  transform: scale(1.0659) translateZ(1px) translateZ(1px);
}

.card-case{
  margin: calc(5%/8);
}

.card-case h6{
  margin-top: .5rem;
  font-weight: 700;
}
/*Top Categories End*************************************/
/*Features**********************************************/
.features h5{
  font-weight: 700;
  margin-bottom: 2rem;
  font-size: 1rem;
}

.features h6 a{
  color: #7b2cbf;
  font-weight: bold;
  font-size: .9rem;
}

.features p{
  color: #6a6f73;
  font-size: .7rem;
   margin-bottom: 1.6rem;
}

.features a:hover{
  color: #5a189a;
  font-weight: bold;
}

#featured-container{
  background: #f7f7ff;
  padding: 1.5rem;
  margin-top: 3rem;
  margin-left: auto;
  margin-bottom: auto;
  margin-right: auto;
}

.featured h4{
  font-weight: 700;
  margin-bottom: 1rem;
}

.btn-explore a{
  border: 1px solid #000;
  color: #000;
  text-decoration: none;
  font-size: 11px;
  font-weight: 700;
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px;
}

/*Features End**********************************************/

/*Instructors, udemyBusiness and findOut **********************************************/

#instructor-container{
  margin-top: 50px;
  margin-left: auto;
  margin-bottom: auto;
  margin-right: auto;
}

#udemyBusiness-container{
  margin-top: 50px;
  margin-left: auto;
  margin-bottom: auto;
  margin-right: auto;
}

#findOut-container{
  margin-top: 50px;
  margin-left: auto;
  margin-bottom: auto;
  margin-right: auto;
}

.btn-custom a{
  color: #fff;
  background: #212529;
}

.btn-custom a:hover{
  background: #000;
  color: #fff;
}

.custom-textbox{
  
}


/*Instructors, udemyBusiness and findOut End**********************************************/

/*trusted companies*******************************************/


.trust-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.trust-container li a{
  text-decoration: none;
  margin-left: 1rem;
  margin-top: 1rem;
}


.trust h3{
  font-weight: 700;
  font-size: 1.2rem;
}

.align h3{
  font-weight: 700;
  font-size: 1.8rem;
}

#trust{
  height: 11rem;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: #f7f7ff;
  margin-top: 20px;
  margin-bottom: 20px;
}

.align{
  text-align: center;
}
/*trusted companies End***************************************/

/*Media Queries********************************************/

@media(min-width: 528px){

  #top-container-1{
    display: none;
  }

  #btn-explore a{
    width: 130px;

  }

}

@media(max-width: 527px){

  #top-container-2{
    display: none;
  }

}


@media(min-width: 528px){

 .align{
  text-align: left;
 }

 .trust h3{
  font-size: 1.8rem;
 }
}

@media(min-width: 768px){

  .header-img-box-2{
    display: none;
  }


}

@media(max-width: 767px){

  .header-img-box{
    display: none;
  }

}

@media(min-width: 1317px){

   .header-sm-links{
    display: none;
  }


}



@media(max-width: 1316px){

  .header-btn{
    display: none;
  }

  .header-link{
    display: none;
  }

  .header-box-sm{
    width: 21.5rem;
    height: 13.5rem;
    padding: .2rem;
  }

  .header-box-sm h1{
    transform: scale(0.8);
  }

  .header-box-sm p{
    transform: scale(0.9);
  }
  .header-box-sm .header-input-box{
    transform: scale(0.8);
  }
}



/*Media Queries End***************************************/

/*Footer***************************************************/

/*Footer End**********************************************/