/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


#main-container{
	font-family: 'Roboto', sans-serif;

}

/*Alert*/
#customAlert{
	background: blue;
	color: #000;
}

/*Navbar*/

nav{
	font-size: .8rem;
}


nav ul{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.header-logo svg{
	width: 7rem;
}


.fa-shopping-cart, .fa-globe, .fa-search{
	color: grey;
}

.fa-shopping-cart, .fa-globe{
	font-size: 1rem;
}

/*Header Img Box Styles*/
.header-img{
	height: 50vh;
	background: no-repeat center/100% url('../img/udemy-landing-page.jpg');
}

.header-box{
	background: #fff;
	width: 32%;
	height: 12.5rem;
	position: relative;
	top: 5rem;
	left: 3rem;
	text-align: left;
	padding: 1.7rem;

}

.header-box h2{
	font-weight: 700;
}

.header-box input{
	width: 90%;
	padding: .7rem;
	border: 1.5px solid grey;
	border-right: none;
	border-radius: 3px;
	font-size: .9rem;
}

.header-box input:active{
	border-right: none;
	border-right-color: white;
}