 /*http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


#main-container{
	font-family: 'Roboto', sans-serif;

}

/*Alert*/
#customAlert{
	background: #48cae4;
	color: #000;
}

/*Navbar*/

nav{
	font-size: .8rem;
	height: 4rem;
}


nav ul{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	
}

nav a{
	text-decoration: none;
	color: #a4a4a4;
}

nav ul li {
	margin-left: .5rem;
}

nav ul li a: hover{
	text-decoration: none;
	color: #2a9d8f;
}
/*Navbar Components*/
.logIn{

	border: 1px solid #2a9d8f;
	width: 6rem;
	text-align: center;
	padding: .6rem;
	border-radius: .3rem;
	color: #2a9d8f;
}
.logIn: hover{
	border-color: #005f73;
	color: #005f73;
}

.signUp{

	border: 1px solid #005f73;
	width: 6rem;
	text-align: center;
	padding: .6rem;
	color: #fff;
	background: #065a60;
	border-radius: .3rem;

}

.signUp:hover{
	background: #001d3d;
	color: #fff;
}

.globe{

	border: 1px solid #a4a4a4;
	width: 2.5rem;
	height: 2.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: .5rem;
	border-radius: .3rem;
}

.input-search {
  margin-left: 0.5rem;
  background: #fafafa;
  width: 550px;
  height: 42px;
  border: 1px solid #a4a4a4;
  font-size: .9rem;
  border-radius: 40px;
  padding: 10px; }

.search-btn {
  text-decoration: none;
  color: #a4a4a4;
  float: left;
  width: 30px;
  height: 30px;
  padding-top: 5px;
  border-radius: 50%;
  background: #fafafa;
  display: flex;
  justify-content: center; }

.input-search input {
  font-size: .9rem; }
.input-search a:hover {
  text-decoration: none; }

.search-txt {
  border: none;
  background: #fafafa;
  outline: none;
  float: left;
  padding: 0px;
  color: #aaa;
  font-size: 1rem;
  transition: 0.4s ease-out; }


/*Finished Navbar Components*/


.header-logo svg{
	width: 7rem;
	height: auto;
}

.mercedes svg{
	width: 12rem;
	height: auto;

}


.fa-shopping-cart, .fa-globe, .fa-search{
	color: grey;
}

.fa-shopping-cart, .fa-globe{
	font-size: 1rem;
}

/*Header Img Box Styles*/
.header-img{
	height: 50vh;
	background: no-repeat center/100% url('../img/udemy-landing-page.jpg');
	display: flex;
	align-items: center;
}

.header-box{
	background: #fff;
	width: 37%;
	height: 12.5rem;
	text-align: left;
	padding: 1.7rem;
	z-index: 1000;
	position: relative;
	top: -25px;
	left: 40px;
	
}

.header-box h2{
	font-weight: 700;
}


/*Header Box Input*/

.header-box-input {
  margin-left: 0.5rem;
  background: #fafafa;
  width: 350px;
  height: 42px;
  border: 1px solid #a4a4a4;
  font-size: .9rem;
  border-radius: .3rem;
  padding: 10px; }

.search-btn {
  text-decoration: none;
  color: #a4a4a4;
  float: right;
  width: 30px;
  height: 30px;
  padding-top: 5px;
  border-radius: 50%;
  background: #fafafa;
  display: flex;
  justify-content: center; }

.input-search input {
  font-size: .9rem; }
.input-search a:hover {
  text-decoration: none; }

.search-txt {
  border: none;
  background: #fafafa;
  outline: none;
  float: left;
  width: 80%;
  padding: 0px;
  color: #000;
  font-size: .97rem;
  transition: 0.4s ease-out; }
/*End Header Box Input*/

/*Top Categories*/

.topCategories h5{
	margin-top: 2rem;
	margin-bottom: 2rem;
}

/*End Top Categories*/

/*Tabs Container*/
/*
#tab-container{
	width: 100%;
	height: 60vh;
}
*/
.txt{
  float: left;
  
}

.img-sec{
  float: right;
}
.img-sec img{
  transform: scale(0.6);

}

.major-container{
  display: flex;
  align-items: center;
}

.checked {
    color: orange;
  }

.carousel-img-case{
	width: 100%;
	height: 50px;
}

/*End Tabs Container*/

.featured .features h5{
	color: #0f7c90;
	font-size: .9rem;
	font-weight: 700;
}

.featured .features h6{
	font-size: .89rem;
	margin-bottom: 2rem;
	font-weight: 800;
}

.featured .features p{
	margin-bottom: 2rem;
}

.OurAdvantages{

	padding-top: 1rem;
	padding-bottom: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-top: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;

}

.advantage-Box{
	width: 50%;
	display: flex;
	align-items: center;
	/*justify-content: space-between;*/
}

.png-box{
	width: 40px;
	height: 40px;
	background: #0077b6;
	border-radius: 50%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	text-align: left;
	transform: scale(0.9);

}

.fa-star, .fa-infinity, .fa-play{
	color: #fff;
}

.play, .star, .infinity{
	font-size: 0.9rem;
	font-weight: 700;
}

.featured h4{
	margin-bottom: 2rem;
}

.btn-explore a{
	font-size: .99rem;
	font-weight: 700;
	text-decoration: none;
	padding-left: .5rem;
	padding-right: .5rem;
	padding-top: .8rem;
	padding-bottom: .8rem;
	color: #fff;
	background: #0f7c90;
	border-radius: .3rem;
}

.btn-explore a:hover{
	color: #fff;
}

#featured-container{

	margin-top: 2rem;
	margin-bottom: 2rem;

}

/*Instructor*/
.instructor{

	transform: scale(0.83);
}

.becomeInstructor{

	display: flex;
	align-items: center;
	justify-content: center;
	background: #fafafa;
	width: 100%;
	height: 40vh;
	margin-top: 6rem;
	margin-bottom: 6rem;

}

.become{

	color: #000;
	width: 300px;
	margin-left: 2rem;
	font-size: 1rem;

}

.become p{
	font-weight: 400;
}

.startTeaching a{

	font-size: .99rem;
	font-weight: 700;
	text-decoration: none;
	padding-left: .5rem;
	padding-right: .5rem;
	padding-top: .8rem;
	padding-bottom: .8rem;
	color: #fff;
	background: #0f7c90;
	border-radius: .3rem;

}

.startTeaching a:hover{
	color: #fff;
}
/*End Instructor*/

/*Udemy Business*/
.udemyBusiness a{

	font-size: .99rem;
	font-weight: 700;
	text-decoration: none;
	padding-left: .5rem;
	padding-right: .5rem;
	padding-top: .8rem;
	padding-bottom: .8rem;
	color: #fff;
	background: #0f7c90;
	border-radius: .3rem;

}

.udemyBusiness a:hover{
	color: #fff;
}

.udemy-Business{
	display: flex;
	align-items: center;
	justify-content: center;
	background: #15616d;
	width: 100%;
	height: 40vh;
	margin-top: 6rem;
	margin-bottom: 6rem;


}

.businessMan{
	transform: scale(0.8);
}

.businessText{
	color: #fff;
	width: 300px;
}
/*Video section*/
#video-section{
	border-top: 1px solid #e4e4e4;
	padding-top: 1rem;
	margin-top: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: .8rem;
}
/*End Udemy Business*/

.sponsors{
	text-align: center;
	margin-bottom: 2rem;
	margin-top: 2rem;
	border-top: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
	padding: 2rem;
}

.sponsors ul{
	margin: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.sponsors ul li svg{
	margin-left: 2rem;
}

.sponsors h4{
	margin: 1rem;
	font-weight: 900;
	font-size: 1.33rem;

}

.video-sec-text{
	width: 300px;
	margin-left: 4rem;
	font-size: 1rem;
}

.video-sec-text h3{
	font-weight: bolder;
}

.video-sec-text p{
	font-size: 1.2rem;
}

/*End Video section*/

/*Start Footer*/

footer{
	border-top: 1px solid #e4e4e4;
	padding-top: 1rem;
	margin-top: 2rem;
	display: flex;
	align-items: center;
	font-size: .8rem;
	line-height: 2;
}


/*.footer-container-2{
	
}*/

.footer-container-1{
	display: flex;
	justify-content: space-evenly;
}

footer ul{
	margin-left: 7rem;
	color: #0f7c90;
}

.ul-1{
	margin-left: 0;
}

.footer-logo svg{
	width: 7rem;
	height: auto;
	margin-left: 0;
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.globe-footer{

	border: 1px solid #a4a4a4;
	width: 8rem;
	height: 2.5rem;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 1rem;
	border-radius: .3rem;
	text-decoration: none;
	color: #a4a4a4;
}

.globe-footer:hover{
	color: #a4a4a4;
}

/*End Footer