/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


#main-container{
	font-family: 'Roboto', sans-serif;

}

/*Alert*/
#customAlert{
	background: #48cae4;
	color: #000;
}

/*Navbar*/

nav{
	font-size: .8rem;
	height: 3rem;
}


nav ul{
	display: flex;
	align-items: center;
	
}

nav a{
	text-decoration: none;
	color: #a4a4a4;
}

nav ul li {
	margin-left: 1.5rem;
}

nav ul li a: hover{
	text-decoration: none;
	color: #2a9d8f;
}
/*Navbar Components*/
.logIn{

	border: 1px solid #2a9d8f;
	width: 6rem;
	text-align: center;
	padding: .6rem;
	border-radius: .3rem;
	color: #2a9d8f;
}
.logIn: hover{
	border-color: #005f73;
	color: #005f73;
}

.signUp{

	border: 1px solid #005f73;
	width: 6rem;
	text-align: center;
	padding: .6rem;
	color: #fff;
	background: #065a60;
	border-radius: .3rem;

}

.signUp:hover{
	background: #001d3d;
	color: #fff;
}

.globe{

	border: 1px solid #a4a4a4;
	width: 2.5rem;
	height: 2.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: .5rem;
	border-radius: .3rem;
}

.header-input{
	flex-basis: 10rem;
}

/*Finished Navbar Components*/


.header-logo svg{
	width: 7rem;
	height: auto;
}

.mercedes svg{
	width: 12rem;
	height: auto;

}


.fa-shopping-cart, .fa-globe, .fa-search{
	color: grey;
}

.fa-shopping-cart, .fa-globe{
	font-size: 1rem;
}

/*Header Img Box Styles*/
.header-img{
	height: 50vh;
	background: no-repeat center/100% url('../img/udemy-landing-page.jpg');
	display: flex;
}

.header-box{
	background: #fff;
	width: 32%;
	height: 12.5rem;
	text-align: left;
	padding: 1.7rem;
}

.header-box h2{
	font-weight: 700;
}

.header-box input{
	width: 90%;
	padding: .7rem;
	border: 1.5px solid grey;
	border-right: none;
	border-radius: 3px;
	font-size: .9rem;
}

.header-box input:active{
	border-right: none;
	border-right-color: white;
}

.featured .features h5{
	color: #0f7c90;
	font-size: .9rem;
	font-weight: 700;
}

.featured .features h6{
	font-size: .89rem;
	margin-bottom: 2rem;
	font-weight: 800;
}

.featured .features p{
	margin-bottom: 2rem;
}

.png{
	transform: scale(0.5);
}

.png-box{
	width: 3rem;
	height: 3rem;
	background: #0077b6;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: left;
}

.fa-star, .fa-infinity{
	color: #fff;
}

.featured h4{
	margin-bottom: 2rem;
}

.btn-explore a{
	font-size: .99rem;
	font-weight: 700;
	text-decoration: none;
	padding-left: .5rem;
	padding-right: .5rem;
	padding-top: .8rem;
	padding-bottom: .8rem;
	color: #fff;
	background: #0f7c90;
	border-radius: .3rem;
}

.btn-explore a:hover{
	color: #fff;
}

#featured-container{

	margin-top: 2rem;
	margin-bottom: 2rem;

}
.startTeaching a{

	font-size: .99rem;
	font-weight: 700;
	text-decoration: none;
	padding-left: .5rem;
	padding-right: .5rem;
	padding-top: .8rem;
	padding-bottom: .8rem;
	color: #fff;
	background: #0f7c90;
	border-radius: .3rem;

}

.startTeaching a:hover{
	color: #fff;
}

.udemyBusiness a{

	font-size: .99rem;
	font-weight: 700;
	text-decoration: none;
	padding-left: .5rem;
	padding-right: .5rem;
	padding-top: .8rem;
	padding-bottom: .8rem;
	color: #fff;
	background: #0f7c90;
	border-radius: .3rem;

}

.udemyBusiness a:hover{
	color: #fff;
}

.sponsors{
	text-align: center;
	margin-bottom: 2rem;
	margin-top: 2rem;
	border-top: 1px solid #a4a4a4;
	border-bottom: 1px solid #a4a4a4;
	padding: 2rem;
}

.sponsors ul{
	margin: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.sponsors ul li svg{
	margin-left: 2rem;
}

.sponsors h4{
	margin: 1rem;
	font-weight: 900;
	font-size: 1.33rem;

}

.udemy-Business{
	background: #15616d;
	width: 100%;


}

.businessMan{
	display: relative;
}

.businessText{
	color: #fff;
}

/*Start Footer*/

footer{
	border-top: 1px solid #e4e4e4;
	padding-top: 1rem;
	margin-top: 2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: .8rem;
	line-height: 2;
}

#footer-container-1{
	display: flex;
	justify-content: space-evenly;
}

#footer-container-2{
	display: flex;
	align-content: flex-end;
}

footer ul{
	margin-left: 7rem;
	color: #0f7c90;
}

.ul-1{
	margin-left: 0;
}

.footer-logo svg{
	width: 7rem;
	height: auto;
	margin-left: 0;
	margin-top: 3rem;
	margin-bottom: 3rem;
}


/*End Footer*/